/* GLOBAL */
body {
    background-color: #37474f;
    margin: 0;
    text-align: center;
    font-family: 'Cairo';
    color: #ffffff
}
a {
    color: #ffffff;
    text-decoration: none;   
}

/* HEADER SPECIFIC */
.header{
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
}
.username {
    font-size: 70px;
    margin-bottom: 30px;
    font-family: 'Tourney';
    color: #b2ffff;
}
.description{
    font-size: 17px;
    text-align: justify;
    line-height: 160%;
}

/* ARTICLE SPECIFIC */
.article{
}

.section-header{
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: 'Tourney';
    font-size: 30px;
    text-transform: uppercase;
}
.link-btn {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 20px;
    background-color: #62727b;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* FOOTER SPECIFIC */
.footer{
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact-info{
    color: #b4ffff;
}

.copyright{
    background-color: #62727b;
}