:root{
    --background: #61A0AF;
    --primary: #F06C9B;
    --content: #343633;
}

body{
    margin: 0;
    background-color: var(--background);
    color: white;
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: var(--primary);
    padding: 20px 0;
    text-align: center;
}
.footer{
    background-color: var(--primary);
    padding: 5px 0;
    text-align: center;
}
.content{
    margin: 0 10%;
    min-height: 80vh;
    background-color: var(--content);
    padding: 20px 5%;
}
.container{
    margin: 0;
}

h2{
    text-transform: capitalize;
    color: var(--background);
}