:root{
    --background: #EBC988;
    --dark: #2C1702;
    --toned: #705D49;
    --purple: #4C1A57;
    --bloo: #124559;
    --black: #000000;
    --white: #ffffff;
}

body{
    background-color: var(--background);
    color: var(--black);
    margin: 0;
    font-family: 'Montserrat';
}

.border{
    /* border: 1px solid #f00; */
}
.content-container{
    display: flex;
    flex-direction: row;
}
.navbar{
    flex: 20;
    background-color: var(--toned);
}
.article-container{
    flex: 80;
}

.header{
    text-align: center;
    background-color: var(--dark);
    color: var(--background);
    padding: 20px 0;
    font-family: 'Cinzel';
    letter-spacing: 10px;
    font-size: 24px;
}
h1{
    margin: 0;
    transition: 0.3s;
}
h1:hover{
    text-decoration: underline;
}
h2{
    font-family: 'Cinzel';
    font-size: 30px
}
h2.first{
    margin-top: 10px;
}
h3{
    font-family: 'Cinzel';
    font-size: 24px;
    margin: 10px 0px;
}
h4{
    font-family: 'Cinzel';
    margin: 10px 0;
    font-size: 20px;
}
p{
    margin-bottom: 10px;
    margin-top: 0px;
}

.navbar-content{
    padding: 15px 0;
}
.nav-section{
    padding: 0 15%;
}
.nav-header{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
    font-family: 'Cinzel';
    color: var(--background);
}
.nav-button{
    width: 100%;
    margin: 5px 0;
    border: none;
    background-color: var(--dark);
    color: var(--background);
    padding: 12px 5px;
    font-size: 18px;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 8px;
}
.nav-button:hover{
    color: var(--dark);
    background-color: var(--background);
    cursor: pointer;
}
.nav-button.return:hover{
    background-color: var(--toned);
}

.article{
    padding: 20px 10%;
    text-align: justify;
    min-height: calc(100vh - 180px);
}

.article-img{
    width: 100%;
}
img.article-img{
    width: 100%;
    margin-bottom: 20px;
}

.footer{
    text-align: center;
    background-color: var(--dark);
    color: var(--background);
    padding: 10px 0;
}
a{
    text-decoration: inherit;
    color: inherit
}

.article-card-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.article-card{
    width: 85%;
    background-color: var(--dark);
    padding: 20px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.article-card-photo{
    width: 100%;
    overflow: hidden;
}
img.card{
    width:100%;
    transition: transform 0.5s, visibility 0.5s ease-in;
}
img.card:hover{
    transform: scale(1.25);
}
.article-card-title{
    color: var(--background);
    transition: 0.3s;
}
.article-card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.article-card-abstract{
    color: var(--background);
}
a.read-more:hover{
    text-decoration: underline;
}
.image-display{
    width: 80%;
}
#image-frame{
    display: none;
}
.image-display img{
    width: 100%;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 8px;
}

textarea{
    background-color: var(--background);
    border: 2px solid var(--dark);
    color: var(--black);
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat';
    padding: 10px;
    outline: none;
    border-radius: 8px;
}
label{
    font-family: 'Cinzel';
    margin: 10px 0;
    font-size: 16px;
}
.identification{
    background-color: var(--background);
    border: 1px solid var(--dark);
    width: 40%;
}
.pronouns{
    font-family: 'Montserrat' !important;
    font-size: 14px;
}